{% extends 'general/base.html '%}

{% block content %}

<h1> Add Post </h1>
<br>

<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    {{ form.title.label(class="form-label") }}
    {{ form.title(class="form-control") }}

    {{ form.body.label(class="form-label") }}
    {{ form.body(class="form-control", rows="10") }}

    {{ form.slug.label(class="form-label") }}
    {{ form.slug(class="form-control") }}

    {{ form.picture.label(class="form-label") }}
    {{ form.picture(class="form-control-file") }}

    <br>
    {{ form.submit(class="btn btn-primary") }}
</form>

{% endblock %}