{% extends 'general/base.html '%}

{% block content %}

{% if current_user.is_authenticated and current_user.id == author.id %}

    <h1> Update Post </h1>
    <br>
    <form action="/update_post/{{ post_to_update.id }}" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control", value=post_to_update.title) }}

        {{ form.body.label(class="form-label") }}
        {{ form.body(class="form-control", value=post_to_update.body) }}

         {{ form.published.label(class="form-label") }}
        {{ form.published(class="form-control-file") }}

        <br>
        {{ form.submit(class="btn btn-primary") }}
    </form>

    <br>
    <h3> Uploaded Pictures </h3>
    <br>
    <form action="/update_post/{{ post_to_update.id }}" method="POST" enctype="multipart/form-data">
        {{ picture_form.hidden_tag() }}

        {{ picture_form.picture.label(class="form-label") }}
        {{ picture_form.picture(class="form-control-file") }}


        <br>
        {{ picture_form.upload(class="btn btn-primary") }}
    </form>
    <br>
    <div class="container">
      <div class="row">

        {% for image in image_files %}
          <div class="col-4">
            <img src="{{ image[0] }}" class="img-fluid">
            <a class="btn btn-danger"  href="{{ url_for('delete_image', id=image[1]) }}"> Delete </a>
          </div>
        {% endfor %}

      </div>
    </div>
    <hr>
{% else %}

    <h1> Error: Current user is not log in or is not the author of post </h1>

{% endif %}

{% endblock %}